Repository FranciscoKloganB/vitesse-enterprise: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports, pnpm lint:css, pnpm lint:md, imagemin-lint-staged

fix: pnpm lint command failing due to package configurations of uninstalled packages
  package.json
Due: none

perf: rename importsort configuration file to have explicit type and uniformize config files
  .importsortrc.json
Due: none

chore: update README.md hook emoji to be a robot
  README.md
Due: pnpm lint:prettier, pnpm lint:md

fix: stop prettier from formatting .md files, since we follow markdownlint configurations
  .prettierignore
Due: none

fix: lint:md command, was pointing at the wrong configuration file
  package.json
Due: none

fix: eslint delegates sorting to importSort and prettier
  .eslintrc.js
  .vscode/settings.json
  src/modules/pinia.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

chore: uninstall daisyui
  daisyui.js
  package.json
  pnpm-lock.yaml
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

perf: add autosave after 5s delay in vscode for real time formatting
  .vscode/settings.json
Due: none

perf: upgrade prettier to vuejs/prettier
  .eslintrc.js
  package.json
  pnpm-lock.yaml
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

perf: pnpm lint:imports and lint:prettier now sort the same way, need to fix VSCode
  package.json
  pnpm-lock.yaml
  src/main.ts
  src/modules/i18n.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

refactor: make prettierrc explicitly json
  .prettierrc.js
  .prettierrc.json
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

perf: lint-staged as same order as vscode and package.json
  .lintstagedrc.json
Due: none

styles: lint components.d.ts
  .eslintrc.js
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

chore: ignore auto-generated files due to formatting issues
  .eslintignore
  .eslintrc.js
  .markdownlintignore
  .prettierignore
  .stylelintignore
  src/components.d.ts
  src/shims.d.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

chore: reattempt to add pnpm engine
  package.json
Due: none

chore: bump pnpm github actions
  .github/workflows/test.yml
Due: none

chore: bump pnpm
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
Due: none

feat: check types on lint
  .github/workflows/test.yml
  .husky/pre-commit
  package.json
Due: none

perf: add two new VSCode recommendations
  .github/workflows/test.yml
  .vscode/extensions.json
  README.md
  package.json
Due: pnpm lint:prettier, pnpm lint:md

chore: remove my handle from funding, let it all go to antfu
  .github/funding.yml
Due: none

chore: rename template
  README.md
  package.json
Due: pnpm lint:prettier, pnpm lint:md

Update README.md
  README.md
Due: pnpm lint:prettier, pnpm lint:md

perf: add readme notes
  .gitignore
  README.md
  vercel.json
Due: pnpm lint:prettier, pnpm lint:md

perf github and gitlab templates
  .gitlab/issue_templates/bug_report.md
  .gitlab/issue_templates/user_story.md
  .gitlab/merge_request_templates/merge_request.md
  LICENSE
Due: pnpm lint:prettier, pnpm lint:md

chore: readd vercel.json
  vercel.json
Due: none

perf: readme
  README.md
Due: pnpm lint:prettier, pnpm lint:md

fix: synchronize prettier, eslint, markdownlint, import sort and vscode
  .eslintignore
  .eslintrc.js
  .github/workflows/test.yml
  .husky/pre-commit
  .lintstagedrc.json
  .markdownlintignore
  .prettierignore
  .prettierrc.js
  .prettierrc.json
  .stylelintignore
  .vscode/settings.json
  daisyui.js
  package.json
  pnpm-lock.yaml
  src/components.d.ts
  src/main.ts
  src/modules/i18n.ts
  src/modules/pinia.ts
  src/shims.d.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

# This is a combination of 4 commits. # This is the 1st commit message:
  .github/funding.yml
  .github/workflows/test.yml
  .gitignore
  .vscode/extensions.json
  README.md
  package.json
  vercel.json
Due: pnpm lint:prettier, pnpm lint:md

fix(gitlab-ci.yml): now able to run build, lint and e2e with cache; unable to run CT and success on E2E
  .gitlab-ci.yml
Due: none

perf: e2e tests now use prod files without async warns in gitlab
  .gitlab-ci.yml
Due: none

Gitlab pipeline (#10)
  .gitlab-ci.yml
Due: none

chore: upgrade stylelint-config-recess-order to 3.0.0
  package.json
  pnpm-lock.yaml
Due: none

chore: upgrade stylelint-config-recess-order to 3.0.0 (#11)
  package.json
  pnpm-lock.yaml
Due: none

chore: upgrade lint staged to 12.0.2
  package.json
  pnpm-lock.yaml
Due: none

chore: upgrade lint staged to 12.0.2 (#12)
  package.json
  pnpm-lock.yaml
Due: none

chore: upgrade cypress to 9.0.0 from 8.7.0
  package.json
  pnpm-lock.yaml
Due: none

chore: upgrade pnpm
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  pnpm lint:js: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  pnpm lint:prettier: (((any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)) or (any of: *.(s)?css)) or (any of: *.md)
  pnpm lint:imports: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  pnpm lint:css: (any of: *.vue) or (any of: *.(s)?css)
  pnpm lint:md: any of: *.md
  imagemin-lint-staged: any of: *.{png,jpeg,jpg,gif,svg}
