Repository FranciscoKloganB/vitesse-enterprise: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports, pnpm lint:css, pnpm lint:md, imagemin-lint-staged

chore: bump dependencies
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
Due: none

chore: add import to auto-imports.d.ts
  src/auto-imports.d.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

fix: cypress now runs from cli node version, instead of bundled electron
  .github/workflows/test.yml
  cypress.json
Due: none

Revert "fix: cypress now runs from cli node version, instead of bundled electron"
  .github/workflows/test.yml
  cypress.json
Due: none

perf: use pnpm over npx for consistency
  .github/workflows/test.yml
Due: none

fix: grammatical issue in .github/**/merge_request.md
  .gitlab/merge_request_templates/merge_request.md
Due: pnpm lint:prettier, pnpm lint:md

chore: bump @cypress/vue to 3.1.1
  README.md
  package.json
Due: pnpm lint:prettier, pnpm lint:md

chore: attempt test:ci:e2e without official cypress e2e runner action
  .github/workflows/test.yml
Due: none

fix: add missing lock file
  pnpm-lock.yaml
Due: none

perf: update Cypress E2E test runner
  .github/workflows/test.yml
Due: none

chore: attempt to use npx
  .github/workflows/test.yml
Due: none

chore: attempt to specify run dir
  .github/workflows/test.yml
Due: none

revert: --dir flag
  .github/workflows/test.yml
Due: none

perf: install pnpm globally
  .github/workflows/test.yml
Due: none

revert: global install
  .github/workflows/test.yml
Due: none

chore: attempt to run test vi npx
  .github/workflows/test.yml
Due: none

revert: to original file
  .github/workflows/test.yml
Due: none

chore: try dev-server
  .github/workflows/test.yml
Due: none

revert: test.yml to original
  .github/workflows/test.yml
Due: none

refactor: change cypress ts config
  tests/component/cypress/support/commands.ts
  tests/component/cypress/support/index.ts
  tests/component/cypress/support/types.ts
  tests/e2e/cypress/support/index.ts
  tests/e2e/cypress/support/types.ts
  tests/tsconfig.json
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

perf: ignore Cypress unused var in types namespace
  .eslintrc.js
  tests/component/cypress/support/types.ts
  tests/e2e/cypress/support/commands.ts
  tests/e2e/cypress/support/types.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

refactor: rename support cypress types
  tests/component/cypress/support/cy-components.ts
  tests/component/cypress/support/index.ts
  tests/e2e/cypress/support/cy-e2e.ts
  tests/e2e/cypress/support/index.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

refactor: use module exports instead of export default
  tests/common/cypress/plugins/index.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

fix: path to viteConfig on cypress component test configuration
  tests/common/cypress/plugins/index.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

refactor: move plugins out of common folder
  .github/workflows/test.yml
  tests/plugins/index.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

chore: try start-server-and-test instead of cypress reusable action
  .github/workflows/test.yml
  cypress.json
  package.json
  pnpm-lock.yaml
  tests/common/cypress/plugins/index.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

chore: add missing lockfile
  pnpm-lock.yaml
Due: none

fix: add --port 4000 declaration on preview script
  package.json
Due: none

fix: eliminate cypress deprecation warning (v2) (#80)
  .eslintrc.js
  .github/workflows/test.yml
  .gitlab/merge_request_templates/merge_request.md
  README.md
  cypress.json
  package.json
  pnpm-lock.yaml
  tests/common/cypress/plugins/index.ts
  tests/component/cypress/support/commands.ts
  tests/component/cypress/support/cy-components.ts
  tests/component/cypress/support/index.ts
  tests/e2e/cypress/support/commands.ts
  tests/e2e/cypress/support/cy-e2e.ts
  tests/e2e/cypress/support/index.ts
  tests/tsconfig.json
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports, pnpm lint:md

perf: cypress configs
  README.md
  cypress.json
  tsconfig.json
Due: pnpm lint:prettier, pnpm lint:md

refactor: reorganize test folders
  cypress.json
  tests/ct/.md
  tests/ct/TheFooter.spec.ts
  tests/ct/cypress/support/commands.ts
  tests/ct/cypress/support/cy-components.ts
  tests/ct/cypress/support/index.ts
  tests/e2e/.md
  tests/integration/.md
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports, pnpm lint:md

chore: add cypress type references on command declaration files
  tests/ct/cypress/support/cy-components.ts
  tests/e2e/cypress/support/cy-e2e.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

refactor: rename commands and commands-declaration files
  tests/ct/cypress/support/command-declarations-ct.ts
  tests/ct/cypress/support/commands-ct.ts
  tests/ct/cypress/support/index.ts
  tests/e2e/cypress/support/command-declarations-e2e.ts
  tests/e2e/cypress/support/commands-e2e.ts
  tests/e2e/cypress/support/index.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

fix: import type { DefineComponent } from 'vue' const component: DefineComponent<{}, {}, any> export default component
  src/shims.d.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

chore: improve dependabot configs
  .github/dependabot.yml
Due: none

feat: add sitemap and improve package json
  .github/workflows/test.yml
  .gitlab-ci.yml
  .husky/pre-push
  README.md
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports, pnpm lint:md

fix: test:e2e:headless
  .husky/pre-push
  package.json
Due: none

chore: remove pnpm as dev dependency, should be system dep
  package.json
  pnpm-lock.yaml
Due: none

fix: grammar in pr template
  .github/pull_request_template.md
Due: pnpm lint:prettier, pnpm lint:md

Path conditions:
  pnpm lint:js: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  pnpm lint:prettier: (((any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)) or (any of: *.(s)?css)) or (any of: *.md)
  pnpm lint:imports: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  pnpm lint:css: (any of: *.vue) or (any of: *.(s)?css)
  pnpm lint:md: any of: *.md
  imagemin-lint-staged: any of: *.{png,jpeg,jpg,gif,svg}
