Repository FranciscoKloganB/vitesse-enterprise: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports, pnpm lint:css, pnpm lint:md, imagemin-lint-staged

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["pnpm lint:js", "pnpm lint:prettier", "pnpm lint:imports"],
  "*.vue": ["pnpm lint:css", "pnpm lint:js", "pnpm lint:prettier", "pnpm lint:imports"],
  "*.(s)?css": ["pnpm lint:css", "pnpm lint:prettier"],
  "*.md": ["pnpm lint:md", "pnpm lint:prettier"],
  "*.{png,jpeg,jpg,gif,svg}": ["imagemin-lint-staged"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "pnpm prettier --write --loglevel warn --parser json"
  ]
}

chore: upgrade pnpm
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
Due: none

fix: unused tslint ignore directive, picked up by new upgrades
  vite.config.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

chore: push auto generated import
  src/auto-imports.d.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

chore: bump netlify node version to 16
  netlify.toml
Due: none

chore: revert minimum node to 14.17, because vercel does not support node 16
  .github/workflows/test.yml
  netlify.toml
  package.json
Due: none

chore: bump from 14.17 to 14.18.1
  package.json
Due: none

chore: add stylelint validations to settings.json
  .vscode/settings.json
Due: none

fix: stylelint 14.0.1 not processing postcss-html syntax on vue files
  .gitlab-ci.yml
  .stylelintrc.js
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

revert: cypress to 8.7 since 9.0.0 breaks pluginsFile and no info about the error is provided
  .gitlab-ci.yml
  package.json
  pnpm-lock.yaml
Due: none

revert: set min engine to 14.7 because cypress 8.7 does not support 14.18
  package.json
Due: none

chore: bumps cypress, pnpm and required node. (#13)
  .github/workflows/test.yml
  .gitlab-ci.yml
  .stylelintrc.js
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/auto-imports.d.ts
  vite.config.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

fix: missing newline in readme header
  README.md
Due: pnpm lint:prettier, pnpm lint:md

chore: was unable to fix run-ct not initializing on gitlab ci
  .gitlab-ci.yml
Due: none

Update README.md
  README.md
Due: pnpm lint:prettier, pnpm lint:md

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/user-story.md
Due: pnpm lint:prettier, pnpm lint:md

fix: markdown warns in README.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/user_story.md
  .github/bug_report_template.md
  .github/user_story_template.md
Due: pnpm lint:prettier, pnpm lint:md

fix: markdown warns in README.md
  README.md
Due: pnpm lint:prettier, pnpm lint:md

perf: add comma on main README.md for readability
  README.md
Due: pnpm lint:prettier, pnpm lint:md

chore: update gitlab bug_report.md
  .gitlab/issue_templates/bug_report.md
Due: pnpm lint:prettier, pnpm lint:md

perf: add dirs and deep keys to Components setup
  vite.config.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

perf: decrease complexity in index.html
  index.html
Due: none

perf: move some items to core module and others to users module
  README.md
  src/assets/styles/main.css
  src/assets/styles/markdown.css
  src/components.d.ts
  src/core/components/README.md
  src/core/components/TheFooter.vue
  src/core/composables/dark.ts
  src/core/composables/index.ts
  src/core/layouts/DefaultLayout.vue
  src/core/layouts/HomeLayout.vue
  src/core/layouts/NotFoundLayout.vue
  src/core/layouts/README.md
  src/core/modules/README.md
  src/core/modules/i18n.ts
  src/core/modules/nprogress.ts
  src/core/modules/pinia.ts
  src/core/modules/pwa.ts
  src/core/pages/README.md
  src/core/pages/[...all].vue
  src/core/pages/about.md
  src/core/pages/index.vue
  src/main.ts
  src/users/pages/greet/[name].vue
  src/users/stores/user.ts
  tests/e2e/basic.spec.ts
  vite.config.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports, pnpm lint:css, pnpm lint:md

fix: add missing folder that caused users/greet to fail
  src/core/pages/index.vue
  src/users/pages/users/[name].vue
  tests/e2e/basic.spec.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports, pnpm lint:css

fix: broken tests due to modularization of the project
  tests/component/TheFooter.spec.ts
  tests/e2e/basic.spec.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

perf: main readme
  README.md
Due: pnpm lint:prettier, pnpm lint:md

chore: change funding info
  .github/funding.yml
Due: none

chore: change github referrer link
  .github/funding.yml
  src/core/pages/index.vue
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports, pnpm lint:css

docs: perfect readme
  README.md
Due: pnpm lint:prettier, pnpm lint:md

chore: perfect links and descriptions
  README.md
  src/core/assets/styles/main.css
  src/core/assets/styles/markdown.css
  src/core/components/TheFooter.vue
  src/core/pages/about.md
  src/main.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports, pnpm lint:css, pnpm lint:md

Replicate clean architecture (#15)
  .github/funding.yml
  README.md
  index.html
  src/components.d.ts
  src/core/assets/styles/main.css
  src/core/assets/styles/markdown.css
  src/core/components/README.md
  src/core/components/TheFooter.vue
  src/core/composables/dark.ts
  src/core/composables/index.ts
  src/core/layouts/DefaultLayout.vue
  src/core/layouts/HomeLayout.vue
  src/core/layouts/NotFoundLayout.vue
  src/core/layouts/README.md
  src/core/modules/README.md
  src/core/modules/i18n.ts
  src/core/modules/nprogress.ts
  src/core/modules/pinia.ts
  src/core/modules/pwa.ts
  src/core/pages/README.md
  src/core/pages/[...all].vue
  src/core/pages/about.md
  src/core/pages/index.vue
  src/main.ts
  src/pages/about.md
  src/users/pages/users/[name].vue
  src/users/stores/user.ts
  tests/component/TheFooter.spec.ts
  tests/e2e/basic.spec.ts
  vite.config.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports, pnpm lint:css, pnpm lint:md

docs: fix readme missing a newline
  README.md
Due: pnpm lint:prettier, pnpm lint:md

docs: fix readme missing a newline (#16)
  README.md
Due: pnpm lint:prettier, pnpm lint:md

docs: improve main readme
  README.md
Due: pnpm lint:prettier, pnpm lint:md

fix: error with netlify not accepting pnpm engine 6.22.2 due to cache
  package.json
Due: none

docs: further improve main readme (#17)
  README.md
  package.json
Due: pnpm lint:prettier, pnpm lint:md

feat: add global env variables to vite_config
  README.md
  src/env.d.ts
  vite.config.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports, pnpm lint:md

refactor: rename composables to hooks and add a readme to the folder
  src/core/components/TheFooter.vue
  src/core/hooks/README.md
  src/core/hooks/dark.ts
  src/core/hooks/index.ts
  src/core/pages/README.md
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports, pnpm lint:css, pnpm lint:md
