Repository FranciscoKloganB/vitesse-enterprise: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports, pnpm lint:css, pnpm lint:md, imagemin-lint-staged

fix: grammar in pr template
  package.json
  pnpm-lock.yaml
Due: none

Feat sitemap better packagejson (#94)
  .github/pull_request_template.md
  .github/workflows/test.yml
  .gitlab-ci.yml
  .husky/pre-push
  README.md
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports, pnpm lint:md

perf: tsconfig
  package.json
  pnpm-lock.yaml
  src/components.d.ts
  tests/tsconfig.json
  tsconfig.json
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

chore: add d.ts
  src/auto-imports.d.ts
  src/components.d.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

feat: use index.d.ts instead of real module
  tests/common/cypress/index.d.ts
  tests/ct/cypress/support/command-declarations-ct.ts
  tests/ct/cypress/support/commands-ct.ts
  tests/e2e/cypress/support/command-declarations-e2e.ts
  tests/e2e/cypress/support/commands-e2e.ts
  tests/tsconfig.json
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

fix: index.ts issues
  tests/ct/cypress/support/commands-ct.ts
  tests/ct/cypress/support/index.ts
  tests/e2e/cypress/support/commands-e2e.ts
  tests/e2e/cypress/support/index.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

chore: still getting random failures on get
  src/components.d.ts
  tests/e2e/basic.spec.ts
  tests/tsconfig.json
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

fix: temporarely workaround cypress flakiness
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
  tests/tsconfig.json
Due: none

revert: run-s change not working
  .github/workflows/test.yml
  package.json
  src/components.d.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

Perf cypress configurations (#95)
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
  src/auto-imports.d.ts
  src/components.d.ts
  tests/common/cypress/index.d.ts
  tests/ct/cypress/support/command-declarations-ct.ts
  tests/ct/cypress/support/commands-ct.ts
  tests/ct/cypress/support/index.ts
  tests/e2e/basic.spec.ts
  tests/e2e/cypress/support/command-declarations-e2e.ts
  tests/e2e/cypress/support/commands-e2e.ts
  tests/e2e/cypress/support/index.ts
  tests/tsconfig.json
  tsconfig.json
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

fix: stackblitz broken link
  README.md
  src/auto-imports.d.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports, pnpm lint:md

chore: deprecate gitlab
  .gitlab-ci.yml
  .gitlab/issue_templates/bug_report.md
  .gitlab/issue_templates/user_story.md
  .gitlab/merge_request_templates/merge_request.md
  README.md
Due: pnpm lint:prettier, pnpm lint:md

chore: deprecate gitlab - merged
  src/auto-imports.d.ts
  src/components.d.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

chore: bump dependencies and nprogress only when next route diff than current
  package.json
  pnpm-lock.yaml
  src/auto-imports.d.ts
  src/components.d.ts
  src/core/modules/nprogress.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

chore: recommend usage of cSpell checker for i18n purposes
  .vscode/extensions.json
Due: none

chore: synchronize pr contributions
  .vscode/settings.json
  locales/ar.yml
  locales/fr.yml
  src/shims.d.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

refactor: use pascal case
  src/App.vue
  src/core/components/TheFooter.vue
  src/core/layouts/DefaultLayout.vue
  src/core/layouts/HomeLayout.vue
  src/core/layouts/NotFoundLayout.vue
  src/users/pages/users/[name].vue
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports, pnpm lint:css

chore: bump dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore: update shims
  src/auto-imports.d.ts
  src/components.d.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

Chore synchronize with parent repository (#134)
  .vscode/extensions.json
  .vscode/settings.json
  locales/ar.yml
  locales/fr.yml
  package.json
  pnpm-lock.yaml
  src/App.vue
  src/auto-imports.d.ts
  src/components.d.ts
  src/core/components/TheFooter.vue
  src/core/layouts/DefaultLayout.vue
  src/core/layouts/HomeLayout.vue
  src/core/layouts/NotFoundLayout.vue
  src/shims.d.ts
  src/users/pages/users/[name].vue
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports, pnpm lint:css

r: add new pipelien step to github workflows
  .github/workflows/test.yml
Due: none

feat: install vitest and create test commands
  package.json
  pnpm-lock.yaml
Due: none

chore: update readme
  README.md
Due: pnpm lint:prettier, pnpm lint:md

chore: configure vitest, have a vite key warn
  src/auto-imports.d.ts
  src/components.d.ts
  vite.config.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

chore: add dummy test to ensure vitest works
  tests/unit/basic.test.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

chore: add tiny component with counter from vueuse/core
  src/core/components/TheCounter.vue
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports, pnpm lint:css

fix: test e2e scripts due to recent changes
  src/auto-imports.d.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

feat: configure vitest in separate file
  tests/tsconfig.json
  vitest.config.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

perf: unify vite and vitest
  package.json
  pnpm-lock.yaml
  tests/tsconfig.json
  vite.config.ts
  vitest.config.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

fix: changes from v0.5.4 to v0.5.5
  tests/unit/basic.test.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

fix: version configurations
  src/components.d.ts
  tests/tsconfig.json
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

style: lint
  tests/tsconfig.json
Due: none

chore: install merged dependencies
  package.json
  pnpm-lock.yaml
Due: none

fix: unit test step of pipeline
  .github/workflows/test.yml
Due: none

chore: downcase Vitest on readme
  README.md
Due: pnpm lint:prettier, pnpm lint:md

chore: add new package scripts
  .github/workflows/test.yml
  package.json
  tests/tsconfig.json
  tests/unit/basic.test.ts
  tsconfig.json
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

chore: add d.ts
  src/components.d.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

chore: update engines
  package.json
  pnpm-lock.yaml
  tests/tsconfig.json
Due: none

chore: update shims
  src/auto-imports.d.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

Path conditions:
  pnpm lint:js: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  pnpm lint:prettier: (((any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)) or (any of: *.(s)?css)) or (any of: *.md)
  pnpm lint:imports: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  pnpm lint:css: (any of: *.vue) or (any of: *.(s)?css)
  pnpm lint:md: any of: *.md
  imagemin-lint-staged: any of: *.{png,jpeg,jpg,gif,svg}
