Repository FranciscoKloganB/vitesse-enterprise: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports, pnpm lint:css, pnpm lint:md, imagemin-lint-staged

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["pnpm lint:js", "pnpm lint:prettier", "pnpm lint:imports"],
  "*.vue": ["pnpm lint:css", "pnpm lint:js", "pnpm lint:prettier", "pnpm lint:imports"],
  "*.(s)?css": ["pnpm lint:css", "pnpm lint:prettier"],
  "*.md": ["pnpm lint:md", "pnpm lint:prettier"],
  "*.{png,jpeg,jpg,gif,svg}": ["imagemin-lint-staged"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "pnpm prettier --write --loglevel warn --parser json"
  ]
}

chore: create empty directives folder for those who wish to use it
  src/core/directives/README.md
Due: pnpm lint:prettier, pnpm lint:md

docs: add more impormation to core/layouts readme
  src/core/layouts/README.md
Due: pnpm lint:prettier, pnpm lint:md

docs: add 'bump dependencies' to checklist on main readme
  README.md
Due: pnpm lint:prettier, pnpm lint:md

chore: bump lint-staged, vite-ssg, pinia-testing
  package.json
  pnpm-lock.yaml
Due: none

chore: bump all outdated packages identified by dependabot except cypress
  package.json
  pnpm-lock.yaml
Due: none

chore: dependabot updates and hierarchy improvements (#18)
  README.md
  package.json
  pnpm-lock.yaml
  src/core/components/TheFooter.vue
  src/core/directives/README.md
  src/core/hooks/README.md
  src/core/hooks/dark.ts
  src/core/hooks/index.ts
  src/core/layouts/README.md
  src/core/pages/README.md
  src/env.d.ts
  vite.config.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports, pnpm lint:css, pnpm lint:md

perf: update shared settings.json
  .vscode/settings.json
Due: none

chore: uninstall import-sort-plugin-babel-vue, because it does not work
  .importsortrc.json
  package.json
  pnpm-lock.yaml
Due: none

perf: prod scripts in package.json
  .gitlab-ci.yml
  README.md
  package.json
  pnpm-lock.yaml
  src/auto-imports.d.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports, pnpm lint:md

chore: freeze lock file
  .github/workflows/test.yml
  pnpm-lock.yaml
Due: none

chore: fix pipeline error
  .github/workflows/test.yml
  README.md
  netlify.toml
Due: pnpm lint:prettier, pnpm lint:md

perf: remove import-sort-babel-vue plugin plus maintenance work (#23)
  .github/workflows/test.yml
  .gitlab-ci.yml
  .importsortrc.json
  .vscode/settings.json
  README.md
  netlify.toml
  package.json
  pnpm-lock.yaml
  src/auto-imports.d.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports, pnpm lint:md

Revert "chore(deps-dev): bump cypress from 8.7.0 to 9.1.1 (#31)"
  package.json
Due: none

Revert "chore(deps-dev): bump cypress from 8.7.0 to 9.1.1 (#31)" (#33)
  package.json
Due: none

chore: update pnpm-lock with dependabot's merged pull requests
  pnpm-lock.yaml
Due: none

Update README.md
  README.md
Due: pnpm lint:prettier, pnpm lint:md

chore: correct prettier.configPath
  .vscode/settings.json
Due: none

fix: fixed "error: cannot spawn .husky/pre-push"
  .husky/pre-push
Due: none

chore: correct prettier.configPath (#38)
  .vscode/settings.json
Due: none

fix: fixed "error: cannot spawn .husky/pre-push" (#39)
  .husky/pre-push
Due: none

chore: update dependencies
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  pnpm-lock.yaml
Due: none

chore: add type for UserModule and ViteSSGContext imports
  src/core/modules/README.md
  src/core/modules/i18n.ts
  src/core/modules/nprogress.ts
  src/core/modules/pinia.ts
  src/core/modules/pwa.ts
  src/types.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports, pnpm lint:md

chore: update lock file with dependabot bumps
  pnpm-lock.yaml
Due: none

chore: "prettier/prettier Delete `␍`"
  .prettierrc.json
Due: none

chore: "prettier/prettier Delete `␍`" (#53)
  .prettierrc.json
Due: none

chore: bump dependencies
  pnpm-lock.yaml
Due: none

chore: keep up with main repository
  src/main.ts
  src/shims.d.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

chore: bump cypress to 9.2.1 up from 8.7
  pnpm-lock.yaml
Due: none

chore: attempt without typescript annotations
  tests/common/cypress/plugins/index.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

chore: use deprecated nodeVersion opt in cypress cfg
  .gitlab-ci.yml
  cypress.json
  tests/common/cypress/plugins/index.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

chore(playground): Create .stackblitzrc
  .stackblitzrc
Due: none

feat(StackBlitz): :sparkles: Add playground
  README.md
Due: pnpm lint:prettier, pnpm lint:md

chore: bump packages
  pnpm-lock.yaml
Due: none

feat(StackBlitz): ✨ Add playground (#62)
  .stackblitzrc
  README.md
Due: pnpm lint:prettier, pnpm lint:md

chore: update lockfile
  pnpm-lock.yaml
Due: none

chore: update test.yml to use latest pnpm
  .github/workflows/test.yml
Due: none

fix: apply minor patches that mirror vitesse main repository
  README.md
  package.json
  pnpm-lock.yaml
  src/main.ts
  src/users/stores/user.ts
  vite.config.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports, pnpm lint:md

chore: bump dependencies
  .github/workflows/test.yml
  pnpm-lock.yaml
  vite.config.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

Update LICENSE
  LICENSE
Due: none
