Repository FranciscoKloganB/vitesse-enterprise: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports, pnpm lint:css, pnpm lint:md, imagemin-lint-staged

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["pnpm lint:js", "pnpm lint:prettier", "pnpm lint:imports"],
  "*.vue": ["pnpm lint:css", "pnpm lint:js", "pnpm lint:prettier", "pnpm lint:imports"],
  "*.(s)?css": ["pnpm lint:css", "pnpm lint:prettier"],
  "*.md": ["pnpm lint:md", "pnpm lint:prettier"],
  "*.{png,jpeg,jpg,gif,svg}": ["imagemin-lint-staged"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": [
    "pnpm prettier --write --loglevel warn --parser json"
  ]
}

fix: post-merge issues - cypress component testing still failing
  package.json
  vite.config.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

chore: update tsconfig
  tsconfig.json
Due: none

chore: wip
  cypress/common/fixtures/example.json
  cypress/common/index.d.ts
  cypress/common/plugins/index.ts
  cypress/common/screenshots/TheFooter.spec.ts/An uncaught error was detected outside of a test (failed).png
  cypress/common/videos/TheFooter.spec.ts.mp4
  cypress/ct/.md
  cypress/ct/TheFooter.spec.ts
  cypress/ct/support/commands-ct.ts
  cypress/ct/support/index.ts
  cypress/e2e/.md
  cypress/e2e/basic.spec.ts
  cypress/e2e/support/commands-e2e.ts
  cypress/e2e/support/index.ts
  cypress/tsconfig.json
  src/components.d.ts
  vite.config.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports, pnpm lint:md, imagemin-lint-staged

fix: intellisense not inspecting <template>
  tsconfig.json
Due: none

chore: bump deps
  .github/dependabot.yml
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/auto-imports.d.ts
  src/components.d.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

chore: bump deps (#143)
  .github/dependabot.yml
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/auto-imports.d.ts
  src/components.d.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

chore: attempt to auto-update lockfile on dependabot
  .github/workflows/update-lock.yml
Due: none

Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: pnpm lint:prettier, pnpm lint:md

Update user_story.md
  .github/ISSUE_TEMPLATE/user_story.md
Due: pnpm lint:prettier, pnpm lint:md

chore: update workspace recommendations
  .vscode/extensions.json
  src/core/pages/index.vue
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports, pnpm lint:css

chore: bump dependencies according to dependabot
  package.json
  pnpm-lock.yaml
Due: none

chore: bump ts to 4.7.2
  package.json
Due: none

chore: update lock
  pnpm-lock.yaml
  src/auto-imports.d.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

chore: update deps (#178)
  .vscode/extensions.json
  package.json
  pnpm-lock.yaml
  src/auto-imports.d.ts
  src/core/pages/index.vue
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports, pnpm lint:css

fix: favicon dark mode
  index.html
  public/favicon-dark.svg
  public/favicon.svg
  src/App.vue
  src/components.d.ts
  src/core/hooks/dark.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports, pnpm lint:css, imagemin-lint-staged

chore: bump deps
  .vscode/extensions.json
  README.md
  package.json
  pnpm-lock.yaml
  src/App.vue
  src/auto-imports.d.ts
  src/components.d.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports, pnpm lint:css, pnpm lint:md

chore: bump several deps
  package.json
  pnpm-lock.yaml
  src/components.d.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

chore: update deps round (#189)
  .vscode/extensions.json
  README.md
  index.html
  package.json
  pnpm-lock.yaml
  public/favicon-dark.svg
  public/favicon.svg
  src/App.vue
  src/auto-imports.d.ts
  src/components.d.ts
  src/core/hooks/dark.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports, pnpm lint:css, pnpm lint:md, imagemin-lint-staged

chore: bump deps
  package.json
  pnpm-lock.yaml
  src/components.d.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

fix: missing lockfile on main
  package.json
  pnpm-lock.yaml
Due: none

chore: bump deps
  package.json
  pnpm-lock.yaml
Due: none

perf: remove eslint command from package.json
  .lintstagedrc.json
  package.json
Due: none

fix: markdown link attrs matcher
  vite.config.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

chore: bump update-lock.yml to use pnpm 7
  .github/workflows/update-lock.yml
Due: none

chore: update .vscode/
  .vscode/extensions.json
  .vscode/settings.json
Due: none

chore: update readme
  README.md
Due: pnpm lint:prettier, pnpm lint:md

chore: update package.json
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
Due: none

feat: initial migration to unocss
  package.json
  pnpm-lock.yaml
  src/core/assets/styles/main.css
  src/core/assets/styles/markdown.css
  src/core/components/TheFooter.vue
  src/core/layouts/NotFoundLayout.vue
  src/core/pages/about.md
  src/core/pages/index.vue
  src/html.d.ts
  src/main.ts
  src/users/pages/users/[name].vue
  unocss.config.ts
  vite.config.ts
  windi.config.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports, pnpm lint:css, pnpm lint:md

test: update test to unocss
  tests/e2e/basic.spec.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

feat: replace windicss with unocss (#207)
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  package.json
  pnpm-lock.yaml
  src/core/assets/styles/main.css
  src/core/assets/styles/markdown.css
  src/core/components/TheFooter.vue
  src/core/layouts/NotFoundLayout.vue
  src/core/pages/about.md
  src/core/pages/index.vue
  src/html.d.ts
  src/main.ts
  src/users/pages/users/[name].vue
  tests/e2e/basic.spec.ts
  unocss.config.ts
  vite.config.ts
  windi.config.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports, pnpm lint:css, pnpm lint:md

style: fix eslint warning
  src/users/stores/user.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

style: use unocss syntax everywhere possible
  .prettierrc.json
  .vscode/settings.json
  src/core/layouts/DefaultLayout.vue
  src/core/layouts/HomeLayout.vue
  src/users/stores/user.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports, pnpm lint:css

style: run pretty with printWidth 88
  .eslintrc.js
  .vscode/settings.json
  src/App.vue
  src/core/modules/i18n.ts
  src/main.ts
  src/users/stores/user.ts
  tests/ct/TheFooter.spec.ts
  tests/e2e/basic.spec.ts
  tsconfig.json
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports, pnpm lint:css

chore: surpress wierd eslint/prettier interaction in eslintrc.js
  .eslintrc.js
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports

perf(unocss): apply unocss wherever possible (#208)
  .eslintrc.js
  .prettierrc.json
  .vscode/settings.json
  src/App.vue
  src/core/layouts/DefaultLayout.vue
  src/core/layouts/HomeLayout.vue
  src/core/modules/i18n.ts
  src/main.ts
  src/users/stores/user.ts
  tests/ct/TheFooter.spec.ts
  tests/e2e/basic.spec.ts
  tsconfig.json
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports, pnpm lint:css

Update .lintstagedrc.json
  .lintstagedrc.json
Due: none

revert: readd eslitn commands to package.json and lint-staged
  package.json
Due: none

chore: bump dependencies
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: none

fix: remove flaky cypress test - needs a overhaul to v10
  tests/e2e/basic.spec.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:imports
